body {
    background: #eee;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #555;
}
.content {
    width: 900px;
    margin: 50px auto;
    background: #fff;
    padding: 40px 80px 80px 80px;
}
.code-snippet {
    font-family: monospace;
}
.explanation select {
    margin: 10px 0;
}
.highlight {
    background-color: #FCFC00;
}
li {
    padding-bottom: 20px;
}
select {
    background: url(form_sprites.png) no-repeat right top;
    background-size: 40px 400px;
    border: 1px solid #e7bddb;
    height: 38px;
    width: 150px;
    -webkit-appearance: none;
}

/*SPECIFIC TO FIREFOX ONLY*/
@-moz-document url-prefix() {
    .quantity-options {
        width: 147px;
        overflow: hidden;
    }
    #SelectA, #SelectB, #SelectC, #SelectD, #SelectE {
        background-position: 85% 0%;
        width:167px;
    }
}